/*
padding: 10px;

box-shadow: inset 0px 0px 0px 1px red;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
*/

* {
    padding: 0;
    margin: 0;

    font-family: 'Courgette', cursive;
    font-family: 'Lobster Two', cursive;
    font-family: 'Oxygen', Helvetica;
}

html::before{
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #242424;
    opacity: .60;
    z-index: -1;
}

body{
    background: url('/img/bg1.jpg') 50% fixed;
    background-size: cover;
}

body header{
    position: absolute;
    top: 0;
}

.navbar{
    position: fixed;
    height: 75px;
    width: 100%;
    z-index: 900000;
    background: #242424;
}

.navbar .container{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    text-align: right;
}

.navbar .container a{
    line-height: 75px;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    color: rgb(250, 252, 254);
    display: inline-block;
    font-style: normal;
    text-decoration: none;
    cursor: pointer;
    border: none;

    -webkit-transition: all .3s ease-in-out;
    -mox-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.navbar .container a.active, .navbar .container a:hover{
    /*box-shadow: inset 0px -4px 0px #E91E63;*/
    box-shadow: inset 0px -4px 0px  #009688;

    -webkit-transition: all .3s ease-in-out;
    -mox-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.navbar .container h1{
    float: left;
    display: inline-block;
    line-height: 75px;
    margin: 0;
    font-size: 35px;
    color: #009688;
    font-family: 'Lobster Two', cursive;
}

.clearfix{
    max-width: 1200px;
    margin: 0 auto;
}


/*
*	MAIN SECTION
*/

section.main{
    position: relative;
    min-height: 60vh;
}

section.main table{
    width: 100%;
    /*
    max-width: 1000px;
    */
    margin: 150px auto 0 auto;
}

section.main .left, section.main .right{
    position: relative;
    display: inline-block;
    vertical-align: top;
}
section.main h2{
    font-size: 3em;
    font-weight: 300;
    margin: 30px 0;
    padding: 10px 0;
    border-color: rgb(250,252,254);
    display: inline-block;
    color: rgb(250,252,254);
}
section.main .right h2{
    float: right;
}

section.main .right i{
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
    font-style: normal;
    color: rgb(250,252,254);
    position: relative;
    display: inline-block;
    width: 22px;
}

section.main .left{
    width: 75%;
}

section.main .right{
    width: 25%;
}

/**
	white outline
	.generator{
		background-color: #242424;
	    border: 2px solid #ccc;
	    box-shadow: 0 0 0 8px #242424;

		margin-top: 8px;
		margin-left: 8px;
		width: calc(100% - 20px);
		height: 600px;

		margin-bottom: 200px;
	}
*/
.generator{
    background: #242424;
    width: 100%;
    height: 600px;
    margin-bottom: 200px;
    /*
    box-shadow: 0px 0px 10px #333;
    */
}
.generator{
    background-color: #242424;
    border: 2px solid #ccc;
    box-shadow: 0 0 0 12px #242424;

    margin-top: 12px;
    margin-left: 12px;
    width: calc(100% - 30px);
    height: 650px;

    margin-bottom: 200px;
}


.generator .top{
    height: 90%;
}

.generator .bottom{
    height: 10%;
}

.generator .top, .generator .bottom{
    width: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.generator .top .prev, .generator .top .params{
    width: 75%;
    display: inline-block;
    height: 100%;
    vertical-align: top;
}


.generator .top .prev{
    width: 70%;
}

.generator .top .params{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    padding-right: 20px;
    width: 30%;
}

.generator .top .params h3{
    margin-bottom:5%;
}

.generator .top .params label:not(.radio){
    margin-bottom: 20px;
    color: rgb(250,252,254);
}

.generator .top h3{
    font-size: 30px;
    color: rgb(250,252,254);
    font-weight: 300;
    padding: 20px 0px;
}

.generator .top .prev img{
    position: relative;
    width: calc(85% - 8px);
    margin: 2% 7.5% 2% 5%;
    border-radius: 10px;
    border: 4px solid #E91E63;
    border-color: rgb(250,252,254);
    z-index: 800;
    min-height: 463px;
}

.generator .bottom div{
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.generator .bottom .price{
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 80%;
}

.generator .bottom .price p, .generator .bottom .send p{
    color: rgb(250,252,254);
    margin: auto 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.generator .bottom .price p{
    font-size: 22px;
    font-weight: 600;
}


.generator .top .prev h3, .generator .bottom .price p{
    padding-left: 30px;
}

.generator .bottom .send{
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 20%;
    float: right;
    background: #242424;

    border-top: 2px solid rgb(250, 252, 254);

    border-left: 2px solid rgb(250, 252, 254);

    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    cursor: pointer;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all .3s ease-in-out;
    -mox-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.generator .bottom .send p {
    color: rgb(250, 252, 254);
}

.generator .bottom .send:hover{
    color: #242424;
    background: #009688;


    -webkit-transition: all .3s ease-in-out;
    -mox-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.generator .bottom .send:hover p {
    color: #242424;
}

.generator .bottom .send p{
    width: 100%;
}


/*
*	FOOTER
*/
.about{
    margin-top: 200px;
    font-size: 10em;
    margin-bottom: 0;
    line-height: .5em;
    color: #009688;
    text-align: center;
}

footer{
    background: #242424;
}


div.loader-inner.ball-pulse{
    position: relative;
    text-align: center;
    margin-left:  auto;
    margin-top: -50%;
    z-index: 0;
}

section.main .right .step{
    position: relative;
    width: 100%;
    padding-left: 80px;
    margin-top: 50px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

section.main .right .step i{
    position: relative;
    width: 20%;
    display: inline-block;
    height: 100%;
    font-size: 80px;
}

section.main .right p {
    color: rgb(502, 252, 254);
    font-size: 22px;
    line-height: 35px;
    padding-left: 70px;

}
section.main .right .step p{
    color: rgb(502, 252, 254);
    font-size: 18px;
    line-height: 25px;
    position: relative;
    width: 80%;
    display: inline-block;
    padding: 0;
    padding-left: 25px;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

footer{
    position: relative;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

footer p{
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(250,252,254);
}


footer p a{
    color: #E91E63;
    color: rgb(250,252,254);
}

footer h3{
    width: 100%;
    text-align: center;
    color: rgb(250, 252, 254);
    font-size: 40px;
    font-weight: 300;
    padding: 20px 0;
}

footer form{
    text-align: center;
}

footer form input{
    -webkit-appearance: none;
    font-size: 14px;
    border: 2px solid rgb(250,252,254);
    outline: none;
    padding: 11px 24px;
    text-transform: lowercase;
    background: none;
}

footer form input[type=tel]{
    color: rgb(250,252,254);
    margin-right: 10px;
}

footer form input[type=submit] {
    border-color: #E91E63;
    border-color: rgb(250,252,254);
    color: #E91E63;
    color: rgb(250, 252, 254);
    cursor: pointer;

    -webkit-transition: all .15s ease-in-out;
    -mox-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

footer form input[type=submit]:hover {
    border-color:  #009688;
    color: #242424;
    background:  #009688;

    -webkit-transition: all .15s ease-in-out;
    -mox-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.form-msg-success, .form-msg-error{
    position: relative;
    height: 43px;
    width: 100%;
    text-align: center;
    color: rgb(250, 252, 254);
    margin-top: 10px;
}

.form-msg-error{
    color: #F44336;
    color: rgb(250,252,254);
}

/*fixes*/
.mdl-checkbox.is-checked .mdl-checkbox__box-outline{
    border: 2px solid #009688;
}
.mdl-checkbox.is-checked .mdl-checkbox__tick-outline{
    background: #009688 url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgdmVyc2lvbj0iMS4xIgogICB2aWV3Qm94PSIwIDAgMSAxIgogICBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWluWU1pbiBtZWV0Ij4KICA8cGF0aAogICAgIGQ9Ik0gMC4wNDAzODA1OSwwLjYyNjc3NjcgMC4xNDY0NDY2MSwwLjUyMDcxMDY4IDAuNDI5Mjg5MzIsMC44MDM1NTMzOSAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IE0gMC4yMTcxNTcyOSwwLjgwMzU1MzM5IDAuODUzNTUzMzksMC4xNjcxNTcyOSAwLjk1OTYxOTQxLDAuMjczMjIzMyAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IgogICAgIGlkPSJyZWN0Mzc4MCIKICAgICBzdHlsZT0iZmlsbDojZmZmZmZmO2ZpbGwtb3BhY2l0eToxO3N0cm9rZTpub25lIiAvPgo8L3N2Zz4K")
}

tbody tr{
    cursor: pointer;
}

#blur{
    content: "";
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #242424;
    opacity: .70;
    z-index: 9000;
    left:0;
}
.demo-card-wide.mdl-card {
    position: fixed;
    width: 512px;
    z-index: 9000;
    left: calc(50% - 256px);
    top: 20%;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('/img/bg2.png') center / cover;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

#delete-btn, #save-btn{
    float: right;
    margin: 0 0 0 10px;
}

#delete-btn{
    background-color:#F44336;
    color: #fff;
}

.mdl-spinner{
    position: fixed;
    top: calc(50% - 14px);
    left: calc(50% - 14px);
    width: 50px;
    height: 50px;
}

.mdl-spinner .mdl-spinner__circle{
    border: 4px solid #fff;
}
